@font-face {
  font-family: Vazir;
  src: url("../src/Data/Font/Vazir.eot");
  src: url("../src/Data/Font/Vazir.woff") format("woff"),
    url("../src/Data/Font/Vazir.ttf") format("truetype");
  font-weight: normal;
}

* {
  box-sizing: border-box;
  font-family: Vazir !important;
  direction: rtl;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.blueLink {
  color: #0fabc6;
}